* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

:root {
  --primary: #2A7AE4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5;
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
  --subColor: #77c736;
  --mainColor: #00969F;
}

html,
body {  
  background-color: var(--mainColor);
  font-family: 'Raleway', sans-serif;
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

a {
  color: inherit;
}